/*start of reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;

}
/*end of reset*/
#boxes {
    position: relative;
    border: none;
}
.for-all {
    position: absolute;
    text-align: center;
    border: 1px solid grey;
}
.color-black {
    color: black;
}
.color-white {
    color: white;
}
p {
    font-size: 20px;
    font-family:  Arial;
    font-style: italic;
}
#box1 {
    background: #ffc975;
    width: 100px;
    height: 90px;
    left: 100px;
    top: 25px;
    padding: 30px 10px;
    z-index: 4;
}
#box2 {
    background: #c5ff72;
    width: 250px;
    height: 30px;
    left: 80px;
    top: 120px;
    padding: 70px 8px;
    z-index: 3;
}
#box3 {
    background: #b4b4b4;
    width: 150px;
    height: 130px;
    left: 290px;
    top: 10px;
    padding: 60px 5px;
    z-index: 2;
}
#box4 {
    background: #ff00ff;
    width: 90px;
    height: 70px;
    left: 400px;
    top: 90px;
    padding: 25px 7px;
    z-index: 5;
}
#box5 {
    background: #faff75;
    width: 250px;
    height: 50px;
    top: 210px;
    left: 220px;
    padding: 100px 5px;
    z-index: 1;
}
#box6 {
    background: #3d96e8;
    width: 200px;
    height: 25px;
    top: 250px;
    left: 50px;
    padding: 80px 10px;
    z-index: 3;
}
#box7 {
    background: #00ffff;
    width: 170px;
    height: 70px;
    left: 150px;
    top: 400px;
    padding: 70px 20px;
    z-index: 2;
}


