div{
	border: 1px solid black;
	background-color: lightgray;
	padding: 20px 20px 20px 20px;
	width: 500px;
	margin-left: 10px;
	margin-top: 10px;
}
h1{
	font-size: 30px;
}
.inputedno{
	border: 1px solid black;
	border-radius: 3px;
	padding: 4px 4px 4px 4px;
}
.inputdve{
	border: 1px solid black;
	border-radius: 3px;
		padding: 4px 4px 4px 4px;
}
.button{
	background-color: gray;
	padding: 20px;
	border-radius: 40px;
	border-style: none;
}
