*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
body, main, header, aside,footer, h1, h2,p{
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end of reset*/
body{
	font-family: arial;
	font-size: 18px;
	width: 1350px;
	height: 935px;
}
header{
	background-color: grey;
	color: white;
	padding: 20px;
	font-size: 40px;
}
nav {
    background-color: black;
    padding: 5px;
    font-size: 20px;
    line-height: 5px;}
    	nav, ul{
    		padding-left: 10px;
    	}
    	nav ul li{
    	display: inline;
    	padding-left: 5px;
    	padding-right: 5px;}
    	nav ul li:first-child{
    	padding-left: 0px;}
    		nav ul li a{
	        text-decoration: none;
	        color: white;
	        display: inline;}	
}
div{
	display: block;
}
section{
	float: left;
	width: 33%;
}
h1, p{
	padding: 20px;
}
h3, p{
	padding: 20px;
}
h1{
	font-size: 40px;
	font-weight: normal;
}
hr {
	border: 0;
	border-top: 1px solid #cccccc;
	margin-left:20px;
	margin-right:20px;
}
.box{
	background-color: #cccccc;
	width: 610px;
	height: 270px;
	margin-left: 20px;
	margin-top: 35px;
	text-align: center;
	color: grey;
}
.header-one{
	width: 650px;
}
.header-two{
	width: 350px;
}
.header-three{
	width: 350px;
}
h3{
	font-weight: bold;
	margin-bottom: 0px;
    margin-top: 0px;
    padding-bottom: 0;
}
.clearfix:after{
	content: "";
	clear: both;	
	display: block;
}
footer{
	background-color: black;
	color: white;
	margin-top: 75px;

}
@media screen and (max-width: 767px){
	nav ul li{
    	display: block;
    	padding: 15px 0px;
    	border-top: 1px solid #cccccc;}
    nav ul li:first-child{
    	border-top: none;
    }
    section{
    	float:none;
    	width: 650px;}
    header{
    	font-size: 30px;}
    nav, ul, li{
    	font-size: 15px;}
    .header-one{
    	width: 650px;}
    .header-two{
		width: 650px;}
	.header-three{
		width: 650px;}
	footer{
		margin-top: 0px;
	}
	p{
		font-size: 14px;
	}
	h3{
		font-size: 18px;
	}

	h1{
		font-size: 30px;
	}
	.line{
		border: none;
	}
	.box{
		margin-top: 5px;
	}
}